@{
    ViewData["Title"] = "Department Update Page";
}

<form action="/Department/update" method ="post">

id <input type="text" name="id" id="id"> <br>
name <input type="text" name="name" id="name"><br>
location <input type="text"n name="location" id="location">
<button type="submit" id="button" name="button"> submit</button>

</form>